html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  min-width: 320px;
  margin: 0 auto; 
  padding: 0;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $text-color;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.title{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}
.text{
  font-size: 24px;
  line-height: 33px;
}
.logo{
  width: 67px;
  height: 18px;
}
.consult{
  background: linear-gradient(151.9deg, rgba(255, 255, 255, 0.4) -53.37%, rgba(255, 255, 255, 0.4) 100%, rgba(255, 255, 255, 0.2) 100%);
  border-radius: 10px;
  width: 344px;
  padding: 32px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  &__text{
    margin-bottom: 20px;
  }
  &__btn{
    background: #2196F3;
    border-radius: 60px;
    color: #FFFFFF;
    padding: 14px 30px;
    border: none;
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
  }
}
.has-ellipse{
  position: relative;
  &::after {
    position: absolute;
    content: '';
    filter: blur(200px);
    border-radius: 50%;
  }
}
.light-ellipse{
  &::after{
    filter: blur(100px);
  }
}
.ultra-light-ellipse{
  &::after{
    filter: blur(70px);
  }
}
.comment{
  &::before{
    position: absolute;
    content: '';
    background-image: url('../images/comment.svg');
    width: 46px;
    height: 39px;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.bottom-line{
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 144px;
    height: 6px;
    background: #FFFFFF;
    border-radius: 8px;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.call-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  &-text{
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
  }
  &-img{
    width: 21px;
    height: 21px;
    &[alt="camera"]{
      width: 16px;
      height: 11px;
    }
    &[alt="phone"]{
      width: 16px;
      height: 16px;
    }
  }
  &-img-box{
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $btn-color;
    border-radius: 50%;
    margin-bottom: 6px;
    border: none;
  }
}
.triangle{
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 30px;
    height: 26px;
    background-image: url('../images/comment-2.svg');
    background-size: cover;
  }
}
.telegram{
  position: relative;
  padding: 1px 0 1px 38px;
  &::before{
    width: 24px;
    height: 24px;
    position: absolute;
    content: '';
    background-image: url('../images/telegram.svg');
    background-size: cover;
    left: 0;
    top: 0;
  }
}