@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "normalize";

.header{
  &__inner{
    padding: 72px 0;
    display: flex;
    justify-content: space-between;
    &::after{
      width: 708px;
      height: 779px;
      left: -138px;
      top: -115px;
      z-index: -7;
      background: #B6DFFF;
    }
  }
  &__logo-link{
    &::after{
      width: 156px;
      height: 156px;
      background: #B6DFFF;
      left: -33px;
      top: -71px;
      z-index: -3;
      filter: blur(40px);
    }
  }
  &__telegram-link{
    padding: 1px 0 1px 38px;
    &::before{
      width: 24px;
      height: 24px;
      position: absolute;
      content: '';
      background-image: url('../images/telegram.svg');
      background-size: cover;
      left: 0;
      top: 0;
    }
    &::after{
      width: 933px;
      height: 624px;
      background: #93CFFF;
      top: -107px;
      right: -101px;
      z-index: -5;
    }
  }
}

.first-screen{
  padding: 42px 0 94px;
  &__inner{
    display: flex;
    &::after{
      bottom: -47px;
      left: -47px;
      background: #FEFFD6;
      z-index: -6;
      height: 416px;
      width: 841px;
    }
  }
  &__left{
    flex-basis: 647px;
    padding-right: 29px;
    margin-right: 23px;
    &::after{
      width: 708px;
      height: 779px;
      background: #B6DFFF;
      top: -324px;
      left: -138px;
      z-index: -4;
    }
  }
  &__text {
    max-width: 507px;
  }
  &__content{
    margin-bottom: 61px;
    padding-top: 64px;
  }
  &__title{
    margin-bottom: 21px;
    max-width: 552px;
  }
  &__consult{
    margin-left: auto;
    &::after{
      background: #F3F573;
      z-index: -8;
      width: 382px;
      height: 235px;
      bottom: -46px;
      right: -138px;
    }
  }
}
.call{
  flex-basis: 304px;
  background: linear-gradient(151.9deg, rgba(255, 255, 255, 0.8) -53.37%, rgba(255, 255, 255, 0.4) 100%);
  backdrop-filter: blur(40px);
  border-radius: 20px;
  padding: 73px 57px 61px 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 574px;
  font-family: 'Roboto', sans-serif;
  &::after{
    width: 382px;
    height: 235px;
    background: #F3F573;
    z-index: -2;
    right: -142px;
    bottom: 26px;
  }
  &__logo{
    margin-bottom: 50px;
  }
  &__text{
    margin-bottom: 59px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
  }
  &__img{
    border-radius: 23px;
    width: 131px;
    height: 131px;
    display: block;
    padding: 8px;
    background: linear-gradient(310.42deg, #B9D3E8 -36.24%, #2196F3 140.27%);
    margin-bottom: 29px;
  }
  &__items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "item1 item2 item3"
    ". item4 .";
    gap: 17px 0;
  }
  &__item{
    &--1{
      grid-area: item1;
    }
    &--2{
      grid-area: item2;
    }
    &--3{
      grid-area: item3;
    }
    &--4{
      grid-area: item4;
      & .call__item-img__box{
        background-color: #FE0000;
      }
    }
  }
}
.why{
  padding-bottom: 185px;
  &__inner{
    display: flex;
    align-items: flex-start;
  }
  &__left{
    padding-top: 106px;
    &::after{
      width: 255px;
      height: 256px;
      background: #93CFFF;
      left: 6px;
      bottom: -79px;
      z-index: -11;
    }
  }
  &__img-box{
    margin-left: -32px;
    &::after{
      width: 542px;
      height: 316px;
      background: #93CFFF;
      top: 19px;
      right: -53px;
      z-index: -10;
    }
    &::before{
      position: absolute;
      content: '';
      filter: blur(100px);
      border-radius: 50%;
      width: 268px;
      height: 195px;
      background: #FEFFD6;
      bottom: 12px;
      right: -7px;
      z-index: -9;
    }
  }
  &__img{
    display: inline-block;
    width: 454px;
    height: 414px;
  }
  &__title{
    max-width: 720px;
    margin-bottom: 30px;
  }
  &__text{
    max-width: 455px;
  }
}
.about{
  padding-bottom: 200px;
  &__title{
    margin-bottom: 62px;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 71px 0;
    margin-bottom: 50px;
    &::after{
      width: 240px;
      height: 195px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(42.9deg);
      background: #FEFFD6;
      z-index: -15;
    }
  }
  &__item-img{
    display: inline-block;
    margin-bottom: 19px;
    width: 73px;
    height: 73px;
  }
  &__item-text{
    max-width: 202px;
  }
  &__bottom{
    display: flex;
  }
  &__bottom-consult{
    margin-right: 95px;
    width: 304px;
    height: 277px;
    padding: 32px 30px;
    background: linear-gradient(151.9deg, rgba(255, 255, 255, 0.6) -53.37%, rgba(255, 255, 255, 0.4) 100%, rgba(255, 255, 255, 0.4) 100%);
    //backdrop-filter: blur(40px);
    border-radius: 10px;
    &::after{
      width: 244px;
      height: 333px;
      background: #93CFFF;
      transform: rotate(-123.42deg);
      z-index: -1;
      top: -110px;
      left: -97px;
    }
  }
  &__bottom-img{
    width: 241px;
    height: 143px;
    margin-bottom: 20px;
  }
  &__bottom-text{
    padding-top: 60px;
    max-width: 528px;
    &--span{
      font-weight: 400;
    }
    &::after{
      width: 195px;
      height: 188px;
      background: #F3F573;
      left: -200px;
      top: 44px;
      transform: rotate(-29.22deg);
      z-index: -2;
    }
  }
  &__item{
    &--4{
      &::after{
        width: 255px;
        height: 256px;
        background: #93CFFF;
        bottom: -54px;
        left: -144px;
        z-index: -14;
      }
    }
    &--6{
      &::after{
        width: 195px;
        height: 188px;
        background: #93CFFF;
        top: -12px;
        left: -135px;
        z-index: -16;
        transform: rotate(-29.22deg);
      }
    }
  }
}
.footer{
  &-container{
    padding: 67px 49px;
    background: linear-gradient(91.29deg, rgba(182, 223, 255, 0.6) -21.23%, rgba(182, 223, 255, 0.1) 101.92%);
    backdrop-filter: blur(200px);
    border-radius: 10px 10px 0 0;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__authors{
    font-size: 12px;
    line-height: 16px;
    color: #5E5E5E;
  }
  &__author{
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__author-link{
    color: $btn-color;
  }
  &__language{
    display: flex;
  }
  &__language-select{
    font-weight: 400;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    height: 22px;
  }
}

.contact{
  padding-bottom: 100px;
  background-color: lightblue;
  &__items{
    display: flex;
  }
  &__title{
    margin-bottom: 63px;
  }
  &__item{
    background: linear-gradient(151.9deg, rgba(255, 255, 255, 0.8) -53.37%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    padding: 44px 0 38px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 304px;
  }
  &__item-inner{
    &--1{
      margin-right: 32px;
      width: 350px;
      padding-left: 20px;
    }
    &--2{
      margin-right: 82px;
      width: 324px;
      padding: 0 10px;
    }
  }
  &__item-logo{
    &--1{
      margin-bottom: 40px;
    }
    &--2{
      margin-bottom: 51px;
    }
  }
  &__element{
    background: #FFFFFF;
    border-radius: 7px;
    padding: 12px 12px 12px 6px;
    height: 123px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--1{
      width: 350px;
      padding-left: 16px;
      margin-left: 6px;
      margin-bottom: 30px;
      &::before{
        bottom: -25px;
        left: 30px;
      }
    }
    &--2{
      width: 322px;
      margin-left: 26px;
      height: 131px;
      margin-bottom: 44px;
      margin-top: 30px;
      &::before{
        top: -25px;
        right: 30px;
        transform: rotate(180deg);
      }
    }
  }
  &__item-line--left{
    width: 260px;
    height: 41px;
  }
  &__element-top{
    display: grid;
    gap: 5px 10px;
    grid-template-columns: 45px 1fr;
    position: relative;
    &::before{
      content: '';
      width: 12px;
      height: 12px;
      background-color: #7BFC01;
      position: absolute;
      bottom: -3px;
      left: 36px;
      z-index: 10;
      border-radius: 50%;
    }
    &--2{
      &::before{
        background-color: #808080;
      }
    }
  }
  &__element-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  &__element-img{
    grid-row: span 2;
    width: 45px;
    height: 45px;
  }
  &__element-subtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8A898E;
  }
  &__element-text{
    font-size: 13px;
    line-height: 18px;
    color: #8A898E;
  }
  &__item-btn__img{
    &--1{
      width: 16px;
      height: 16px;
    }
  }
  &__item-line--center{
    width: 62px;
    height: 69px;
    align-self: flex-start;
    margin-left: 40px;
  }
  &__element--center{
    width: 323px;
    border-radius: 7px;
    background-color: #fff;
    padding: 14px 14px 14px 17px;
    display: grid;
    grid-template-columns: 65px 1fr;
    gap: 8px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    &::before{
      bottom: -25px;
      left: 35px;
    }
  }
  &__element-img--center{
    width: 65px;
    height: 65px;
    grid-row: span 3;
  }
  &__element-title--center{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
  }
  &__element-text--center{
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #8A898E;
    position: relative;
    &::before{
      content: '';
      width: 17px;
      height: 17px;
      background-color: #7BFC01;
      position: absolute;
      bottom: -15px;
      left: -19px;
      z-index: 10;
      border-radius: 50%;
    }
  }
  &__item-consult-elem{
    background: #F4F5FA;
    border-radius: 7px;
    width: 323px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
}





@import "media";